<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logFile" value="logFile.txt"/>
		<add key="logFilePath" value="C:\Users\Public"/>
		<add key="serializeFileNameJson" value="serializer.json"/>
		<add key="serializeFileNameXML" value="serializer.xml"/>
	</appSettings>
</configuration>